{% extends 'base_state.html' %}
{% block content %}
<link rel="stylesheet" href="/static/states_style.css">
<div class="jumbotron d-flex justify-content-center bg-transparent">
  <h1 class="font-weight-bold">{{title}}</h1>
</div>

<div class="d-flex flex-wrap justify-content-center pad">
  <div class="card ml-4 mr-4 mb-3 h-100 fade-in one" style="width: 18rem; top: 20px">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Donate to Help and Save Lives</h5>
      <p class="card-text">We have compiled a list of reputable sources and places to donate. This may include: our fallen brothers and sisters due to police brutality, GoFundMe's for bail bonds, and more. It is recommended that you direct your funds
        to charities or GoFundMe's that have yet to complete their funding goal.</p>
      <a href="{{url_for('core.Cali_donate')}}" class="card-link logo">Donate in {{title}} <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>
  <div class="card ml-4 mr-4 mb-3 h-100 fade-in two" style="width: 18rem; top: 20px">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Make Your Voice Heard!</h5>
      <p class="card-text">The strongest way to make honest change is to actively join the fight! You will find a list of {{title}} organizations fighting for Black and African-American rights. These may include {{title}} chapters of national
        organizations, other non-profits, bail-bond companies, and more.</p>
      <a href="{{url_for('core.Cali_org')}}" class="card-link logo">BLM Organizations in {{title}} <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>
  <div class="card ml-4 mr-4 mb-3 fade-in three" style="width: 18rem; top: 20px">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Support Black-Owned Businesses</h5>
      <p class="card-text">No restaurant or company have more passion and drive for success than those in this list of businesses we have compiled for you. To show your support and to look out for before, during, and after protests check these places
        out.</p>
      <a href="{{url_for('core.Cali_biz')}}" class="card-link logo">Black-Owned Businesses in {{title}} <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>

</div>


{% endblock %}