{% extends 'base.html' %}
<!DOCTYPE html>
{% block content %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>

<body>
  <div class="container mobilev">
    <div class="jumbotron d-flex jumbopetitionimg ">
      <div class="container" style="height:300px;">

      </div>
    </div>
  </div>
  <div class="container mobilev">
    <div class="jumbotron d-flex" style="background-color: #000000">
      <div class="container" style="background-color: #000000">
        <h1 class="title_blm">People are making their voice heard. Help make their voice louder!</h1>
        <h3 class="resource"><a style="color: white !important;" href="https://docs.google.com/forms/d/e/1FAIpQLSejKUgeq_edAGw43KlcmZQPX9w-jQ4WP_h33IXg-YthxidIPw/viewform?usp=sf_link">Submit a Resource or Feedback</a></h3>

      </div>
    </div>
  </div>
  <div class="container">
    <ul class="list-group">
      {% for name, contact, url, desc in data %}
      <li>
        <a href="{{ url }}" class="list-group-item list-group-item-action align-items-start space">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1" style="color: #d68858;">{{ name }}</h5>
          </div>
          <p class="mb-1"> {{ desc }} </p>
          <p class="mb-1"> Contact: {{ contact }} </p>
        </a>
        <br>
        {% endfor %}
        <br>
      </li>
    </ul>
  </div>
</body>

</html>
{% endblock%}