{% extends 'base_state.html' %}
{% block content %}
<link rel="stylesheet" href="/static/states_style.css">
<div class="jumbotron d-flex justify-content-center bg-transparent">
  <h1 class="font-weight-bold state-header">{{title}}</h1>
</div>

<div class="d-flex flex-wrap justify-content-center pad">
  <div class="card ml-4 mr-4 mb-3 h-100 fade-in one" style="width: 21rem; top: 20px">
    <img src="/static/images/grayscale-photo-of-people-walking-on-street-4614509.jpg" class="card-img-top cardimg" alt="grayscale photo of people protesting. Black Lives Matter">
    <div class="card-body cardstyle">
      <h5 class="card-title">Donate to Help and Save Lives</h5>
      <p class="card-text">We have compiled a list of reputable sources and places to donate. This may include: our fallen brothers and sisters due to police brutality, GoFundMe's for bail bonds, and more. It is recommended that you direct your funds
        to charities or GoFundMe's that have yet to complete their funding goal.</p>
      <a href="{{url_for(donation_page[1])}}" class="card-link cardlink">Donate in {{title}} <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>
  <div class="card ml-4 mr-4 mb-3 h-100 fade-in two" style="width: 21rem; top: 20px">
    <img src="/static/images/protesters-holding-signs-4552852.jpg" class="card-img-top cardimg" alt="Protesters holding signs. Silence is Compliance.">
    <div class="card-body cardstyle">
      <h5 class="card-title">Make Your Voice Heard!</h5>
      <p class="card-text">The strongest way to make honest change is to actively join the fight! You will find a list of {{title}} organizations fighting for Black and African-American rights. These may include {{title}} chapters of national
        organizations, other non-profits, bail-bond companies, and more.</p>
      <a href="{{url_for(state_orgs[1])}}" class="card-link cardlink">BLM Organizations in {{title}} <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>
  <div class="card ml-4 mr-4 mb-3 h-100 fade-in three" style="width: 21rem; top: 20px">
    <img src="/static/images/shallow-focus-photo-of-white-open-sigange-3345876.jpg" class="card-img-top cardimg" alt="Black Businesses we're open sign.">
    <div class="card-body cardstyle">
      <h5 class="card-title">Support Black-Owned Businesses</h5>
      <p class="card-text">No restaurant or company have more passion and drive for success than those in this list of businesses we have compiled for you. To show your support and to look out for before, during, and after protests check these places
        out.</p>
      <a href="{{url_for(state_black_businesses[1])}}" class="card-link cardlink">Black-Owned Businesses in {{title}} <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>

</div>


{% endblock %}