<div class="navbar">
  <a href="/">BLM</a>
  <a href="#news">News</a>
  <div class="dropdown">
  <button class="dropbtn" onclick="myFunction()">States
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" id="myDropdown">
  {% for state in states %}
    <a href="/{{state}}">{{state}}</a>
  {% endfor %}
  </div>
  </div>
  {% block toolbar%}
  {% endblock%}
</div>
