@font-face {font-family: Cornerstone; src: url('Cornerstone.ttf');}

@font-face {
  font-family: QanelasBold;
  src: url('QanelasSoftDEMO-ExtraBold.otf')
}

.loader {
    font-family: 'Cornerstone';
    font-size: 40px;
    color: white;
    height: 60%;
    width: 100%;
    z-index: 100;
    display: inline-flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    margin-bottom: 200px;
    clear: both;

}

.loader::after{
    content: '\2026';
    display: grid;
    overflow: hidden;
    vertical-align: bottom;
    animation: dots steps(4, end) 2s infinite;
    width: 0px;
}

@keyframes dots {
    to {
        width: 1.25em;
    }
}