@font-face {
  font-family: Cornerstone;
  src: url('Cornerstone.ttf');
}

@font-face {
  font-family: QanelasSoft;
  src: url('QanelasSoftDEMO-UltraLight.otf')
}

@font-face {
  font-family: QanelasBold;
  src: url('QanelasSoftDEMO-ExtraBold.otf')
}

html {
  position: relative;
}

a {
  color: #000000 !important;
}

a:hover {
  color: #B46E43 !important;
}

ul {
  list-style-type: none;
}

.barstyle {
  font-family: 'QanelasSoft', Cornerstone;
  background-color: #fcc313;
}

.title_blm {
  display: block;
  font-size: 3.6rem;
  font-family: 'QanelasBold', sans-serif;
  color: transparent;
  -webkit-text-stroke: 1px #FFFFFF;
}

.resource {
  margin: 2rem;
  text-decoration: underline;
  text-decoration-color: white;
}

.foot-position {
  background-color: #fcc313;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 20px;
}

.state-header {
  font-size: 4.5rem;
  color: transparent;
  -webkit-text-stroke: 1px #FFFFFF;
}

.main {
  position: relative;
  min-height: 100vh;
  padding-bottom: 23.5rem;
}

.background {
  background-color: black;
}

.cardimg {
  height: 288px;
}

.cardstyle {
  position: relative;
  height: 308px;
}

.cardlink {
  position: absolute;
  bottom: 1.25rem;
}