@font-face {
  font-family: Cornerstone;
  src: url('Cornerstone.ttf');
}

@font-face {
  font-family: QanelasSoft;
  src: url('QanelasSoftDEMO-UltraLight.otf')
}

@font-face {
  font-family: QanelasBold;
  src: url('QanelasSoftDEMO-ExtraBold.otf')
}

/* Used to help keep footer at the bottom of the page */
html {
  position: relative;
}

a {
  color: #000000 !important;
}

a:hover {
  color: #B46E43 !important;
}

body {
  /* font-family: 'Cornerstone', sans-serif; */
  font-size: 20px;
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column; */
  background: #000000;
  position: relative;
  min-height: 100vh;
  padding-bottom: 23.5rem;
}

/* This is applied to both navbar and footer */
.barstyle {
  font-size: 18px;
  font-family: 'QanelasSoft', Cornerstone;
  background-color: #fcc313;
}

.title_blm {
  font-family: 'QanelasBold', sans-serif;
  color: white;
}

.state-header {
  font-size: 4.5rem;
  color: white;
}

.foot-position {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 20px;
}

.cardimg {
  height: 288px;
}

.card-title {
  font-size: 25px;
}

.card-text {
  font-size: 20px;
}

/*
.cardstyle {
  position: relative;
  height: 308px;
}

.cardlink {
  position: absolute;
  bottom: 1.25rem;
} */