@font-face {font-family: Cornerstone; src: url('Cornerstone.ttf');}

*{
box-sizing: border-box;
margin: 0;
padding: 0;
}


body {
font-family: 'Cornerstone', sans-serif;
font-size: 18px;
display: flex;
background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
align-items: center;
justify-content: center;
flex-direction: column;
min-height: 100vh;
}

