@font-face {
  font-family: Cornerstone;
  src: url('Cornerstone.ttf');
}

@font-face {
  font-family: QanelasSoft;
  src: url('QanelasSoftDEMO-UltraLight.otf')
}

@font-face {
  font-family: QanelasBold;
  src: url('QanelasSoftDEMO-ExtraBold.otf')
}

/* Global tag styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
}

a {
  color: #000000 !important;
}

a:hover {
  color: #B46E43 !important;
}

h1 {
  font-size: 80px;
  font-family: "QanelasBold", sans-serif;
  color: transparent;
  -webkit-text-stroke: 1px #FFFFFF;
}

body {
  /* font-family: 'Cornerstone', sans-serif; */
  font-size: 25px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #000000;
}

/* This is applied to both navbar and footer */
.barstyle {
  font-size: 18px;
  font-family: 'QanelasSoft', Cornerstone;
  background-color: #fcc313;
}

/* Footer styling */
.foot-position {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  padding-top: 1rem;
  padding-bottom: 20px;
}

/* This class is the same as 'main' from states.css used to help footer stay at the bottom of page. */
.body-fix {
  position: relative;
  min-height: 110vh;
  padding-bottom: 14rem;
}

.main {
  text-align: center;
  width: 100%;
  opacity: 0;
  display: none;
  transition: opacity 2s ease-in;
}

.main.h1 {
  font-size: 50px;
}

.title-text {
  color: white;
  font-size: 25px;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 15px 25px;
  border-radius: 12px;
  border: 2px solid #1c100b;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
#myCarousel {
  border: 1px solid grey;
  margin-bottom: 4rem;
  /* border-left: none;
  border-right: none; */
}

.carousel-item {
  height: 448px;
  overflow: auto;
  background-color: grey;
  padding: 5% 15%;
}

@media (min-width: 300px) and (max-width: 700px) {
  .carousel-item {
    height: 35rem;
    overflow: auto;
  }
}

.mobilecv {
  padding: 0;
}

.carousel-caption {
  /* bottom: 3rem; */
  padding-bottom: 0;
}

.carousel-header {
  text-align: left;
  color: white;
  font-size: 40px;
  margin-bottom: 2rem;
}

.carousel-text {
  color: white;
  /* font-size: 25px; */
  margin-bottom: 2rem;
}

.carousel-button {
  margin: 0;
}

/* -------------------------- */
/* National Orgs styling */
@media (min-width: 550px) {
  .mobilev {
    padding: 0 0;
  }
}

.space:after {
  clear: both;
  display: block;
  content: "";
  background-color: #e9ecef;
}

ul {
  list-style-type: none;
}

div.a {
  display: block;
  padding: 5px;
  border: 1px solid grey;
}

.jumboimg {
  background-image: url("/static/images/monochrome-photo-of-resist-signage-3141240.jpg");
  background-size: 100% 100%;
  background-attachment: scroll;
}

.jumbodonateimg {
  background-image: url("/static/images/kat-yukawa-K0E6E0a0R3A-unsplash.jpg");
  background-size: 100% 100%;
  background-attachment: scroll;
}

.jumbopetitionimg {
  background-image: url("/static/images/clay-banks-gr0wnD7PbJk-unsplash.jpg");
  background-size: 100% 100%;
  background-attachment: scroll;
}

/* States List styling */
.states_style {
  color: white !important;
  background-color: black;
  border-radius: .1;
  border: 1px solid grey;
}

.states_style:hover {
  background-color: #e9ecef;
}