@font-face {font-family: Cornerstone; src: url('Cornerstone.ttf');}
@font-face {font-family: QanelasSoft; src: url('QanelasSoftDEMO-UltraLight.otf')}
@font-face {font-family: QanelasBold; src: url('QanelasSoftDEMO-ExtraBold.otf')}

*{
box-sizing: border-box;
margin: 0;
padding: 0;
}


.body {
font-family: 'Cornerstone', sans-serif;
font-size: 18px;
display: flex;
background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
align-items: center;
justify-content: center;
flex-direction: column;
min-height: 100vh;
}

.main {
    text-align: center;
    width: 90%;
    opacity: 0;
    display: none;
    transition: opacity 2s ease-in;
}

.main h1 {
    font-size: 50px;
}

.main p {
    font-size: 25px;
}

.button {
    background-color: #000000;
    color: white;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 15px 25px;
    border-radius: 12px;
    border: 2px solid #1c100b;
}

.barstyle {
    font-family: 'QanelasSoft', Cornerstone;
    color: #000000;
}

.container-pos{
  display: block;
  position: absolute;
  padding-top: 1rem;
}
